html {
  background-color: #222;
  text-align: center;
}

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: black;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  height: 100px;
  text-align: center;
}

.movie-list {
  margin-top: 50px;
}

.form-card {
  margin-top: 50px;
}

.movie-details {
  margin-top: 50px;
}

.carousel {
  margin-top: 10px;
  margin-bottom: 50px;
}

.genre {
  margin-top: 10px;
}
